/* Write your custom CSS here */


.form-group label{
    font-weight:bold !important;
}

.f-right {
    float: right !important;
}

.f-left {
    float: left !important;
}

.f-center {
    padding:auto;
}

.margin-right-1{ 
    margin-right: 1px !important;
}
.margin-right-3{ 
    margin-right: 3px !important;
}
.margin-left-16{ 
    margin-left: 16px !important;
}
.margin-top-10{
    margin-top: 10px !important;
}
.margin-top-30{
    margin-top: 30px !important;
}

.margin-bottom-5{
    margin-bottom: 5px !important;
}
.margin-bottom-10{
    margin-bottom: 10px !important;
}
.margin-bottom-20{
    margin-bottom: 20px !important;
}
.margin-bottom-30{
    margin-bottom: 30px !important;
}

.margin-bottom-40{
    margin-bottom: 40px !important;
}

.margin-all-5{
    margin: 5px !important;
}

.margin-all-10{
    margin: 10px !important;
}

.new-record{
    color:red;
    font-size: 11px;

}

.color-red{
    color:red !important;
}

.receiver-name{
    background-color: #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    display: inline-block;

}

.receiver-remove{
    color: white;
    cursor: pointer;
}

.in-blocked{
    display: block !important;
}

.padding-right-1{
     padding-right: 1px !important;
}
.padding-right-2{
     padding-right: 2px !important;
}
.padding-right-3{
     padding-right: 3px !important;
}


/***
Dashboard stats
***/
.dashboard-stat {
    margin-bottom: 25px;
}

.dashboard-stat:before,
.dashboard-stat:after {
    display: table;
    line-height: 0;
    content: "";
}
.dashboard-stat:after {
    clear: both;
}

.dashboard-stat .visual {
    width: 80px;
    height:80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.dashboard-stat .visual i {
    font-size: 65px;
    line-height: 65px;
    color: #fff;
}

@media (min-width: 992px) and (max-width: 1024px) {  

    .dashboard-stat .visual i { 
        font-size: 28px;
        line-height: 28px;
    }

}

.dashboard-stat .details {
    position: absolute;
    right: 15px;
    padding-right: 10px;  
}

.dashboard-stat .details .number {    
    padding-top: 15px;
    text-align: right;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: -1px;
    margin-bottom: 5px;
    font-weight: 300;
    color: #fff;
}

.dashboard-stat .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
    color: #fff;  
}

.dashboard-stat .more {
    clear: both;
    display: block;  
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    color: #fff;  
    opacity: 0.7;  
    filter: alpha(opacity=70);
}  

.dashboard-stat .more:hover {
    text-decoration: none;
    opacity: 1;  
    filter: alpha(opacity=100);
}

.dashboard-stat .more > i {
    display: inline-block;
    margin-top: 1px;
    float: right;
}

.dashboard-stat.blue {
    background-color: #27a9e3;
}

.dashboard-stat.blue .more { 
    background-color: #208dbe;
} 

.dashboard-stat.green {
    background-color: #28b779;
}

.dashboard-stat.green .more { 
    background-color: #10a062;
} 

.dashboard-stat.red {
    background-color: #e7191b;
}

.dashboard-stat.red .more { 
    background-color:#bc0d0e;
} 

.dashboard-stat.yellow {
    background-color: #ffb848;
}

.dashboard-stat.yellow .more { 
    background-color: #cb871b;
} 

.dashboard-stat.purple {
    background-color: #852b99;
}

.dashboard-stat.purple .more { 
    background-color: #6e1881;
} 
