@media print {
  a[href]:after {
    content: none !important;
  }
}
@page{
        size: auto !important;
        margin: 3mm !important;
     }

body  {
    /* this affects the margin on the content before sending to printer */
    margin: 0px !important;  
}